In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    "id":[1,2,3,4,5,6],
    "wiersz_opisu":["a","b","b","a","d","f"]
})
df

,id,wiersz_opisu
0,1,a
1,2,b
2,3,b
3,4,a
4,5,d
5,6,f

In [4]:
df["wiersz"]=df["wiersz_opisu"].astype("category")
print(df["wiersz"])

0    a
1    b
2    b
3    a
4    d
5    f
Name: wiersz, dtype: category
Categories (4, object): ['a', 'b', 'd', 'f']

In [5]:
df["wiersz"].cat.categories = ["totalna klapa","tak sobie","dobrze","znakomicie"]
print(df["wiersz"])

0    totalna klapa
1        tak sobie
2        tak sobie
3    totalna klapa
4           dobrze
5       znakomicie
Name: wiersz, dtype: category
Categories (4, object): ['totalna klapa', 'tak sobie', 'dobrze', 'znakomicie']

<ipython-input-5-a90051e17274>:1: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  df["wiersz"].cat.categories = ["totalna klapa","tak sobie","dobrze","znakomicie"]

In [6]:
df["wiersz"] = df["wiersz"].cat.set_categories(["totalna klapa","kiepsko","tak sobie","dobrze","jest ok","znakomicie"])
print(df["wiersz"])

0    totalna klapa
1        tak sobie
2        tak sobie
3    totalna klapa
4           dobrze
5       znakomicie
Name: wiersz, dtype: category
Categories (6, object): ['totalna klapa', 'kiepsko', 'tak sobie', 'dobrze', 'jest ok', 'znakomicie']

In [7]:
df.groupby("wiersz").size()