In [2]:
import pandas as pd

In [5]:
obj = pd.Series([4,7,-5,3],index=['a','b','n','k'],name='moje_wartości')
obj

In [6]:
obj['a']

4

In [7]:
obj[obj>2]

In [8]:
obj*3

In [11]:
import numpy as np
np.sqrt(obj)

/opt/python/envs/default/lib/python3.8/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [12]:
sdata = {'Warszawa':45600,'Kraków':41300,'Lublin':37800,'Gdańsk':38900}
sdata

{'Warszawa': 45600, 'Kraków': 41300, 'Lublin': 37800, 'Gdańsk': 38900}

In [14]:
obj3 = pd.Series(sdata,name="liczba wniosków")
obj3

In [15]:
#obiekt DataFrame
data = {
    'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
    'rok':[2017,2018,2019,2018,2019,2020],
    'populacja':[2.7,2.75,3.05,0.8,0.85,1.05]
}

frame = pd.DataFrame(data)

In [16]:
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.80
4,Kraków,2019,0.85
5,Kraków,2020,1.05

In [20]:
frame2 = pd.DataFrame(data,index=['w2017','w2018','w2019','k2018','k2019','k2020'], columns=['rok','miasto','populacja','liczba wniosków'])
frame2

,rok,miasto,populacja,liczba wniosków
w2017,2017,Warszawa,2.70,NaN
w2018,2018,Warszawa,2.75,NaN
w2019,2019,Warszawa,3.05,NaN
k2018,2018,Kraków,0.80,NaN
k2019,2019,Kraków,0.85,NaN
k2020,2020,Kraków,1.05,NaN

In [21]:
frame2['liczba wniosków'] = 10000
frame2

,rok,miasto,populacja,liczba wniosków
w2017,2017,Warszawa,2.70,10000
w2018,2018,Warszawa,2.75,10000
w2019,2019,Warszawa,3.05,10000
k2018,2018,Kraków,0.80,10000
k2019,2019,Kraków,0.85,10000
k2020,2020,Kraków,1.05,10000

In [22]:
frame2['liczba wniosków'] = np.array([23400,24500,37600,15460,16800,21300])
frame2

,rok,miasto,populacja,liczba wniosków
w2017,2017,Warszawa,2.70,23400
w2018,2018,Warszawa,2.75,24500
w2019,2019,Warszawa,3.05,37600
k2018,2018,Kraków,0.80,15460
k2019,2019,Kraków,0.85,16800
k2020,2020,Kraków,1.05,21300

In [30]:
daty = pd.date_range("20240528",periods=6)
daty

DatetimeIndex(['2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31',
               '2024-06-01', '2024-06-02'],
              dtype='datetime64[ns]', freq='D')

In [31]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
fr

,A,B,C,D
2024-05-28,0.141507,-0.635809,-2.074460,0.292690
2024-05-29,2.752242,-0.052390,-0.466497,-1.141902
2024-05-30,-0.640012,-0.277379,1.046890,1.289513
2024-05-31,1.177826,-0.492059,0.079571,-0.316610
2024-06-01,-0.573998,-0.114471,-0.181753,-0.109711
2024-06-02,0.137487,0.784223,-0.197585,0.369371

In [34]:
fr.head(3)

,A,B,C,D
2024-05-28,0.141507,-0.635809,-2.074460,0.292690
2024-05-29,2.752242,-0.052390,-0.466497,-1.141902
2024-05-30,-0.640012,-0.277379,1.046890,1.289513

In [35]:
fr.tail(4)

,A,B,C,D
2024-05-30,-0.640012,-0.277379,1.046890,1.289513
2024-05-31,1.177826,-0.492059,0.079571,-0.316610
2024-06-01,-0.573998,-0.114471,-0.181753,-0.109711
2024-06-02,0.137487,0.784223,-0.197585,0.369371

In [36]:
fr.to_numpy()

In [37]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,0.499175,-0.131314,-0.298972,0.063892
std,1.284139,0.500142,1.015784,0.809527
min,-0.640012,-0.635809,-2.074460,-1.141902
25%,-0.396127,-0.438389,-0.399269,-0.264885
50%,0.139497,-0.195925,-0.189669,0.091489
75%,0.918746,-0.067910,0.014240,0.350201
max,2.752242,0.784223,1.046890,1.289513

In [38]:
fr.T

,2024-05-28,2024-05-29,2024-05-30,2024-05-31,2024-06-01,2024-06-02
A,0.141507,2.752242,-0.640012,1.177826,-0.573998,0.137487
B,-0.635809,-0.052390,-0.277379,-0.492059,-0.114471,0.784223
C,-2.074460,-0.466497,1.046890,0.079571,-0.181753,-0.197585
D,0.292690,-1.141902,1.289513,-0.316610,-0.109711,0.369371

In [39]:
fr.describe().T

,count,mean,std,min,25%,50%,75%,max
A,6.0,0.499175,1.284139,-0.640012,-0.396127,0.139497,0.918746,2.752242
B,6.0,-0.131314,0.500142,-0.635809,-0.438389,-0.195925,-0.067910,0.784223
C,6.0,-0.298972,1.015784,-2.074460,-0.399269,-0.189669,0.014240,1.046890
D,6.0,0.063892,0.809527,-1.141902,-0.264885,0.091489,0.350201,1.289513

In [41]:
fr.sort_index(axis=1,ascending=False)

,D,C,B,A
2024-05-28,0.292690,-2.074460,-0.635809,0.141507
2024-05-29,-1.141902,-0.466497,-0.052390,2.752242
2024-05-30,1.289513,1.046890,-0.277379,-0.640012
2024-05-31,-0.316610,0.079571,-0.492059,1.177826
2024-06-01,-0.109711,-0.181753,-0.114471,-0.573998
2024-06-02,0.369371,-0.197585,0.784223,0.137487

In [45]:
fr.sort_values(by="D",ascending=False)

,A,B,C,D
2024-05-30,-0.640012,-0.277379,1.046890,1.289513
2024-06-02,0.137487,0.784223,-0.197585,0.369371
2024-05-28,0.141507,-0.635809,-2.074460,0.292690
2024-06-01,-0.573998,-0.114471,-0.181753,-0.109711
2024-05-31,1.177826,-0.492059,0.079571,-0.316610
2024-05-29,2.752242,-0.052390,-0.466497,-1.141902