In [2]:
import pandas as pd

In [5]:
obj = pd.Series([4,7,-5,3],index=['a','b','n','k'],name='moje_wartości')
obj

In [6]:
obj['a']

4

In [7]:
obj[obj>2]

In [8]:
obj*3

In [11]:
import numpy as np
np.sqrt(obj)

/opt/python/envs/default/lib/python3.8/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [12]:
sdata = {'Warszawa':45600,'Kraków':41300,'Lublin':37800,'Gdańsk':38900}
sdata

{'Warszawa': 45600, 'Kraków': 41300, 'Lublin': 37800, 'Gdańsk': 38900}

In [14]:
obj3 = pd.Series(sdata,name="liczba wniosków")
obj3

In [15]:
#obiekt DataFrame
data = {
    'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
    'rok':[2017,2018,2019,2018,2019,2020],
    'populacja':[2.7,2.75,3.05,0.8,0.85,1.05]
}

frame = pd.DataFrame(data)

In [16]:
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.80
4,Kraków,2019,0.85
5,Kraków,2020,1.05

In [20]:
frame2 = pd.DataFrame(data,index=['w2017','w2018','w2019','k2018','k2019','k2020'], columns=['rok','miasto','populacja','liczba wniosków'])
frame2

,rok,miasto,populacja,liczba wniosków
w2017,2017,Warszawa,2.70,NaN
w2018,2018,Warszawa,2.75,NaN
w2019,2019,Warszawa,3.05,NaN
k2018,2018,Kraków,0.80,NaN
k2019,2019,Kraków,0.85,NaN
k2020,2020,Kraków,1.05,NaN

In [21]:
frame2['liczba wniosków'] = 10000
frame2

,rok,miasto,populacja,liczba wniosków
w2017,2017,Warszawa,2.70,10000
w2018,2018,Warszawa,2.75,10000
w2019,2019,Warszawa,3.05,10000
k2018,2018,Kraków,0.80,10000
k2019,2019,Kraków,0.85,10000
k2020,2020,Kraków,1.05,10000

In [22]:
frame2['liczba wniosków'] = np.array([23400,24500,37600,15460,16800,21300])
frame2

,rok,miasto,populacja,liczba wniosków
w2017,2017,Warszawa,2.70,23400
w2018,2018,Warszawa,2.75,24500
w2019,2019,Warszawa,3.05,37600
k2018,2018,Kraków,0.80,15460
k2019,2019,Kraków,0.85,16800
k2020,2020,Kraków,1.05,21300